{
  "extends": "@antfu",
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "no-empty-pattern" : "warn",
    "semi": [
      "warn",
      "always"
    ],
    "@typescript-eslint/semi": [
      "warn",
      "always"
    ]
  }
}
